@charset "utf-8";

* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
body {background: #f8f8f8; color: #585858;}
h2 {margin: 20px 0 10px 0 ; color: #111;}

.btn {padding: 15px 60px; box-sizing: border-box;}

/* .content */
.content {float: none; width: 100%;}

/* .tab_group */
.tab_group {float: none; width: 100%;}


.tab_content .mobile_tab p {width: 50%;}

/* color */
.color ul {height: 150px;}
.color ul li {height: 90px;}
