@charset "utf-8";

header .banner {height: 40vh;}
header h1 {font-size: 35px;}
.img_area {float: none; border-right: none;}
h2 {font-size: 22px;}

/* .content */
.content {float: none; width: 370px;}

/* #Overview  */
#Overview p {width: 100%; font-size: 15px;}

/* .btn */
.btn {padding: 20px 50px;}

/* img_area */
.img_area {margin-left: 10px;}
.img_area .pc_img {width: 370px;}
.img_area .mobile_img {width: 300px;}

/* center */
.img_area .center ul {width: 410px;}
.img_area .center ul li {width: calc(100%/2 - 10px); margin-left: 10px;}
.img_area .center ul li img {width: 100%;}