@charset "utf-8";

#wrap {max-width: 100%; overflow: hidden;}
header h1 {font-size: 40px;}
header .banner {max-width: 100%; height: 30vh;}
.content {float: none; width: 100%; position: relative; padding: 0 30px; box-sizing: border-box;}
.img_area {float: none; border-right: none;}


h2 {width: 270px;}

/* color */
.color ul {padding:5px;}

/* btn */
#btn_area {width: 100%; text-align: center;}
.btn {padding: 15px 30px;}

/* .img_area */
.img_area  {width: 100%; padding: 40px; box-sizing: border-box;}
.img_area .pc_img {width: 100%; margin: 0;}

.img_area .mobile_img {width: 100%;}

.img_area .center ul {width: 570px;}
.img_area .center ul li {width: calc(100%/2);}

/* .tab_group */
.tab_group {width: 100%;}

/* .tab_group > .tab */
.tab_content .mobile_tab p {width: 50%;}