@charset "utf-8";

.inner {width: 100%; padding: 0;} 

#wrap {max-width: 100%; overflow: hidden;}
header a img {height: 60px;}
h1 {width: 50%;}
h2 {font-size: 35px; padding: 25px 0;}
h4 {font-size: 25px;}

nav {float: right; width: 40%;}

/* 사이드메뉴 */
.Side_menu  {width: 115px; }
.Side_menu ul li a {padding: 30px 10px; font-size: 16px; box-sizing: border-box;}

/* #about  */
#about {padding: 10px; box-sizing: border-box;}

#about .about_tit {padding: 0 30px;}
.about_tit figure {width: 50%;}
.about_tit figure img {padding: 30px; box-sizing: border-box;}

.about_tit .about_img {width: 55%;}
.about_tit .about_img_txt {width: 50%; padding: 20px; box-sizing: border-box;}

#about .about_tit .about_txt {width: 35%; padding: 20px; box-sizing: border-box;}

#about .praise li {padding: 0 15px; box-sizing: border-box; font-size: 14px;}
#about .praise li img {width: 110px; height: 110px;}

/* #project */
#project {padding: 10px; box-sizing: border-box;}


/* 1270~1401 */
#project .project_Swiper .Swiper-img .pc_img > img {width: 580px; height: 450px;}
#project .project_Swiper .Swiper-img .pc_img figure {height: 315px; top: 15%;}
#project .project_Swiper .Swiper-img .pc_img figure > p {width: 535px; left: 8%;}

#project .project_Swiper .Swiper-img .mobile_img {right: 0;}

/* #project  center */
#project .project_Swiper .center .center_img {left: 50%; transform: translateX(-50%);}

#project .project_Swiper .Swiper-txt {width: 45%; padding: 50px; box-sizing: border-box;}

#project .project_Swiper .Swiper-txt .txt span {font-size: 17px;}

/* 1008~1269 */
@media screen and (min-width: 1008px) and (max-width: 1213px) {
    #project .project_Swiper .Swiper-img {width: 55%; padding: 60px 0 60px 20px; box-sizing: border-box;}
    #project .project_Swiper .Swiper-img .pc_img > img {width: 500px; height: 450px;}
    #project .project_Swiper .Swiper-img .pc_img figure {height: 315px; top: 15%; left: 0;}
    #project .project_Swiper .Swiper-img .pc_img figure > p {width: 460px; left: 7%;}
    
    #project .project_Swiper .Swiper-txt {padding: 60px 40px 50px 0; box-sizing: border-box;}
    #project .project_Swiper .Swiper-txt .txt span {margin-top: 15px; font-size: 16px;}
    #project .project_Swiper .center .center_img {left: 40%; transform: translateX(-50%);}
}

/* #contact */
.animated-title {display: none;}
#contact > .inner > h2 {margin: 0;}

.kakao img {width: 200px; height: 200px;}
#contact .my_img {width: 140px; height: 140px;}
#contact .my_img img {width: 100%; height: 100%;}